<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Doctor Profile Form</title>
    <link rel="stylesheet" href="/css/styles.css" />
</head>
<body>
    <h1>Doctor Profile</h1>
    <div th:if="${param.error}">
        <p style="color: red;">Error: <span th:text="${param.error}"></span></p>
    </div>
    <form th:action="@{/doctorProfile/save}" th:object="${doctorProfileEntity}" method="post" enctype="multipart/form-data">
        <input type="hidden" th:field="*{docProfileId}" />
        <label for="firstName">First Name:</label>
        <input type="text" id="firstName" th:field="*{firstName}" required />
        <br/>
        <label for="lastName">Last Name:</label>
        <input type="text" id="lastName" th:field="*{lastName}" required />
        <br/>
        <label for="profileImage">Profile Image:</label>
        <input type="file" id="profileImage" name="profileImage" />
        <br/>
        <button type="submit">Save Profile</button>
    </form>
    <a href="/dashboard">Back to Dashboard</a>
</body>
</html>