<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Doctor Profile Form</title>
    <link rel="stylesheet" href="/css/styles.css" />
</head>
<body>
    <h1>Doctor Profile</h1>

    <div th:if="${param.error}">
        <p style="color: red;" th:text="${param.error}"></p>
    </div>
    <div th:if="${param.success}">
        <p style="color: green;" th:text="${param.success}"></p>
    </div>

    <form th:action="@{/doctorProfile/save}" method="post" enctype="multipart/form-data">
        <input type="hidden" th:field="*{docProfileId}" />

        <div>
            <label for="firstName">First Name:</label>
            <input type="text" id="firstName" name="firstName" th:field="*{firstName}" required />
        </div>
        <div>
            <label for="lastName">Last Name:</label>
            <input type="text" id="lastName" name="lastName" th:field="*{lastName}" required />
        </div>
        <div>
            <label for="profileImage">Profile Image:</label>
            <input type="file" id="profileImage" name="profileImage" />
        </div>
        <div>
            <button type="submit">Save</button>
        </div>
    </form>

    <a href="/dashboard">Back to Dashboard</a>
</body>
